<ul>
  <li><img class="logo" src="assets/images/msuLogo.png"></li>
  <li><a (click)="this.nav('')">Home</a></li>
  <li><a (click)="this.nav('')">NTASC</a></li>
  <li><a (click)="this.nav('')">Faculty</a></li>
  <li><a (click)="this.nav('')">Academics</a></li>
  <li><a (click)="this.nav('')">Scholarships</a></li>
  <li><a (click)="this.nav('')">Newsletter</a></li>
  <li>
    <div class="dropdown">
    <button class="dropbtn">Important Links &#8711;</button>
    <div class="dropdown-content">
      <a (click)="this.nav('')">ACM - Local Chapter Site</a>
      <a (click)="this.nav('')">ACM Digital Library</a>
      <a (click)="this.nav('')">MSU2U Website</a>
      <a (click)="this.nav('')">1044 Labs</a>
      <a (click)="this.nav('')">CMPS Proficieny Exam</a>
      <a (click)="this.nav('')">Graduate Paper Format</a>
      <a (click)="this.nav('')">Graduate Exam Topics</a>
      <a (click)="this.nav('')">Plagiarism Policy</a>
      <a (click)="this.nav('')">Cheating Policy</a>
      <a (click)="this.nav('')">Doctor Halverson Retirement Scholarship Fund</a>
    </div>
  </div>
  </li>
  <li><a (click)="this.nav('')">Contact Us</a></li>
</ul>